## Reading the Dataset

In [1]:
import pandas as pd
pd.set_option('display.max_rows', None)

In [42]:
!wget 'https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2019-10.parquet' -O "${PWD}/data/green_tripdata_2019-10.parquet"

--2025-01-23 18:08:12--  https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2019-10.parquet
Resolving d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 3.160.226.85, 3.160.226.161, 3.160.226.111, ...
Connecting to d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|3.160.226.85|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 7864969 (7,5M) [binary/octet-stream]
Saving to: ‘/Users/oscarricorodriguez/Documents/Documents - MacBook Pro de Òscar/DE/Week1/docker_sql/data/green_tripdata_2019-10.parquet’

/Users/oscarricorod 100%[===================>]   7,50M  18,0MB/s    in 0,4s

2025-01-23 18:08:13 (18,0 MB/s) - ‘/Users/oscarricorodriguez/Documents/Documents - MacBook Pro de Òscar/DE/Week1/docker_sql/data/green_tripdata_2019-10.parquet’ saved [7864969/7864969]

In [ ]:
!wget 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2019-01.parquet' -O "${PWD}/data/yellow_tripdata_2019-01.parquet"

In [ ]:
!wget 'https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv' -O "data/taxi_zone_lookup.csv"

In [ ]:
df = pd.read_csv('data/taxi_zone_lookup.csv')
df.to_parquet('data/taxi_zone_lookup.parquet')

In [2]:
yellow_df = pd.read_parquet('data/yellow_tripdata_2019-10.parquet')
green_df = pd.read_parquet('data/green_tripdata_2019-10.parquet')

In [3]:
print('### Yellow Taxi Data ###')
display(yellow_df.head(5))
print('### Green Taxi Data ###')
display(green_df.head(5))

### Yellow Taxi Data ###

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2019-10-01 00:19:55,2019-10-01 00:23:57,1.0,0.4,1.0,N,48,163,2,4.5,3.0,0.5,0.0,0.0,0.3,8.3,2.5,None
1,1,2019-10-01 00:40:19,2019-10-01 00:55:17,2.0,4.3,1.0,N,144,141,1,14.5,3.0,0.5,2.0,0.0,0.3,20.3,2.5,None
2,1,2019-10-01 00:06:52,2019-10-01 00:21:23,1.0,5.0,1.0,N,137,80,1,17.0,3.0,0.5,5.2,0.0,0.3,26.0,2.5,None
3,2,2019-10-01 00:36:08,2019-10-01 00:36:15,1.0,0.0,1.0,N,25,25,4,-2.5,-0.5,-0.5,0.0,0.0,-0.3,-3.8,0.0,None
4,2,2019-10-01 00:36:08,2019-10-01 00:36:15,1.0,0.0,1.0,N,25,25,2,2.5,0.5,0.5,0.0,0.0,0.3,3.8,0.0,None

### Green Taxi Data ###

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-10-01 00:26:02,2019-10-01 00:39:58,N,1.0,112,196,1.0,5.88,18.0,0.50,0.5,0.00,0.0,None,0.3,19.30,2.0,1.0,0.0
1,1,2019-10-01 00:18:11,2019-10-01 00:22:38,N,1.0,43,263,1.0,0.80,5.0,3.25,0.5,0.00,0.0,None,0.3,9.05,2.0,1.0,0.0
2,1,2019-10-01 00:09:31,2019-10-01 00:24:47,N,1.0,255,228,2.0,7.50,21.5,0.50,0.5,0.00,0.0,None,0.3,22.80,2.0,1.0,0.0
3,1,2019-10-01 00:37:40,2019-10-01 00:41:49,N,1.0,181,181,1.0,0.90,5.5,0.50,0.5,0.00,0.0,None,0.3,6.80,2.0,1.0,0.0
4,2,2019-10-01 00:08:13,2019-10-01 00:17:56,N,1.0,97,188,1.0,2.52,10.0,0.50,0.5,2.26,0.0,None,0.3,13.56,1.0,1.0,0.0

In [4]:
yellow_df['tpep_pickup_datetime'] = pd.to_datetime(yellow_df['tpep_pickup_datetime'])
yellow_df['tpep_dropoff_datetime'] = pd.to_datetime(yellow_df['tpep_dropoff_datetime'])

green_df['tpep_pickup_datetime'] = pd.to_datetime(green_df['lpep_pickup_datetime'])
green_df['tpep_dropoff_datetime'] = pd.to_datetime(green_df['lpep_dropoff_datetime'])

We can easily visualize the dataset sql schema by using pandas as follows:

In [5]:
print('### Yellow Taxi Data ###')
print(pd.io.sql.get_schema(yellow_df, 'yellow_taxi_2019'))

print('### Green Taxi Data ###')
print(pd.io.sql.get_schema(green_df, 'green_taxi_2019'))

### Yellow Taxi Data ###
CREATE TABLE "yellow_taxi_2019" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL,
  "airport_fee" TEXT
)
### Green Taxi Data ###
CREATE TABLE "green_taxi_2019" (
"VendorID" INTEGER,
  "lpep_pickup_datetime" TIMESTAMP,
  "lpep_dropoff_datetime" TIMESTAMP,
  "store_and_fwd_flag" TEXT,
  "RatecodeID" REAL,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "ehail_fee" TEXT,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "payment_type" REAL,
  "trip_type" REAL,
  "congestion_surcharge" REAL,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP
)

## Data Ingestion

So we can now create the table and inject the data into it.

In [6]:
from sqlalchemy import create_engine
import pyarrow.parquet as pq
from time import time

In [7]:
engine = create_engine('postgresql://postgres:postgres@localhost:5432/ny_taxi', echo=False)

ModuleNotFoundError: No module named 'psycopg2'

We will iterate over the dataset and insert the data into the table.

In [36]:
yellow_pf = pq.ParquetFile('data/yellow_tripdata_2019-10.parquet')
green_pf = pq.ParquetFile('data/green_tripdata_2019-10.parquet')

In [37]:
def process_taxi_data_batches(pf, table_name, engine, batch_size=100000):
    total_time = 0
    total_data = 0
    for i, batch in enumerate(pf.iter_batches(batch_size=100000)):
        start = time()
        batch.to_pandas().to_sql(table_name, engine, if_exists='append')
        end = time() - start
        print(f'Batch: {i}. Elapsed time: {end:.2f} sec')
        total_time += end
        total_data += len(batch)
    print(f'Total time: {total_time:.2f} sec. Total data: {total_data}')

process_taxi_data_batches(yellow_pf, 'yellow_taxi_2019', engine)
process_taxi_data_batches(green_pf, 'green_taxi_2019', engine)

Batch: 0. Elapsed time: 5.98 sec
Batch: 1. Elapsed time: 6.15 sec
Batch: 2. Elapsed time: 6.17 sec
Batch: 3. Elapsed time: 6.03 sec
Batch: 4. Elapsed time: 6.09 sec
Batch: 5. Elapsed time: 6.10 sec
Batch: 6. Elapsed time: 6.05 sec
Batch: 7. Elapsed time: 6.07 sec
Batch: 8. Elapsed time: 6.13 sec
Batch: 9. Elapsed time: 6.09 sec
Batch: 10. Elapsed time: 6.11 sec
Batch: 11. Elapsed time: 6.13 sec
Batch: 12. Elapsed time: 6.08 sec
Batch: 13. Elapsed time: 6.16 sec
Batch: 14. Elapsed time: 6.13 sec
Batch: 15. Elapsed time: 6.23 sec
Batch: 16. Elapsed time: 6.07 sec
Batch: 17. Elapsed time: 6.07 sec
Batch: 18. Elapsed time: 6.12 sec
Batch: 19. Elapsed time: 6.09 sec
Batch: 20. Elapsed time: 6.13 sec
Batch: 21. Elapsed time: 6.05 sec
Batch: 22. Elapsed time: 6.10 sec
Batch: 23. Elapsed time: 6.01 sec
Batch: 24. Elapsed time: 6.02 sec
Batch: 25. Elapsed time: 5.96 sec
Batch: 26. Elapsed time: 5.94 sec
Batch: 27. Elapsed time: 5.89 sec
Batch: 28. Elapsed time: 5.93 sec
Batch: 29. Elapsed time: 5.99 sec
Batch: 30. Elapsed time: 5.89 sec
Batch: 31. Elapsed time: 5.76 sec
Batch: 32. Elapsed time: 5.83 sec
Batch: 33. Elapsed time: 5.85 sec
Batch: 34. Elapsed time: 5.92 sec
Batch: 35. Elapsed time: 5.98 sec
Batch: 36. Elapsed time: 5.88 sec
Batch: 37. Elapsed time: 5.95 sec
Batch: 38. Elapsed time: 5.92 sec
Batch: 39. Elapsed time: 5.82 sec
Batch: 40. Elapsed time: 5.92 sec
Batch: 41. Elapsed time: 5.87 sec
Batch: 42. Elapsed time: 5.95 sec
Batch: 43. Elapsed time: 5.87 sec
Batch: 44. Elapsed time: 5.87 sec
Batch: 45. Elapsed time: 5.94 sec
Batch: 46. Elapsed time: 5.88 sec
Batch: 47. Elapsed time: 5.91 sec
Batch: 48. Elapsed time: 6.08 sec
Batch: 49. Elapsed time: 5.89 sec
Batch: 50. Elapsed time: 5.96 sec
Batch: 51. Elapsed time: 5.89 sec
Batch: 52. Elapsed time: 5.91 sec
Batch: 53. Elapsed time: 5.85 sec
Batch: 54. Elapsed time: 5.81 sec
Batch: 55. Elapsed time: 5.73 sec
Batch: 56. Elapsed time: 5.92 sec
Batch: 57. Elapsed time: 6.12 sec
Batch: 58. Elapsed time: 5.98 sec
Batch: 59. Elapsed time: 5.97 sec
Batch: 60. Elapsed time: 6.12 sec
Batch: 61. Elapsed time: 5.96 sec
Batch: 62. Elapsed time: 5.95 sec
Batch: 63. Elapsed time: 5.96 sec
Batch: 64. Elapsed time: 6.13 sec
Batch: 65. Elapsed time: 6.03 sec
Batch: 66. Elapsed time: 6.12 sec
Batch: 67. Elapsed time: 6.02 sec
Batch: 68. Elapsed time: 5.95 sec
Batch: 69. Elapsed time: 5.71 sec
Batch: 70. Elapsed time: 5.98 sec
Batch: 71. Elapsed time: 5.86 sec
Batch: 72. Elapsed time: 0.74 sec
Total time: 431.73 sec. Total data: 7213891
Batch: 0. Elapsed time: 6.10 sec
Batch: 1. Elapsed time: 6.22 sec
Batch: 2. Elapsed time: 6.16 sec
Batch: 3. Elapsed time: 6.05 sec
Batch: 4. Elapsed time: 4.18 sec
Total time: 28.71 sec. Total data: 476386

## Zones

Now we will create the zones table and insert the data into it.

In [38]:
zones_pf = pq.ParquetFile('data/taxi_zone_lookup.parquet')

In [39]:
process_taxi_data_batches(zones_pf, 'zones', engine)

Batch: 0. Elapsed time: 0.02 sec
Total time: 0.02 sec. Total data: 265